body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 1.5rem;
}

nav a {
  color: #4a5568;
  text-decoration: none;
}

nav a:hover {
  background-color: #3182ce;
  color: white;
}

.fixed {
  position: fixed;
  top: 64px; /* Adjust this value to match your navbar height */
  left: 0;
  bottom: 0;
  overflow-y: auto;
}

.ml-64 {
  margin-left: 16rem;
}

.mt-16 {
  margin-top: 4rem; /* Adjust this value to match your navbar height */
}

.mb-16 {
  margin-bottom: 4rem; /* Adjust this value to provide space for the footer */
}
