body {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 1.5rem;
}

nav a {
  color: #4a5568;
  text-decoration: none;
}

nav a:hover {
  background-color: #3182ce;
  color: white;
}

.sidebar {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  top: 64px; /* Adjust this value to match your navbar height */
  height: calc(100vh - 64px); /* Adjust this value to match your navbar height */
  overflow-y: auto;
}

.ml-64 {
  margin-left: 4rem;
}

.mt-16 {
  margin-top: 4rem; /* Adjust this value to match your navbar height */
}

.mb-16 {
  margin-bottom: 0rem; /* Adjust this value to provide space for the footer */
}

.footer-space {
  height: 0.3rem; /* Adjust this value to match the footer height */
}