<div class="bg-gray-50 font-[sans-serif]">
  <div class="min-h-screen flex flex-col items-center justify-center py-6 px-4">
    <div class="max-w-md w-full">
      <div class="p-8 rounded-2xl bg-white shadow">
        <h2 class="text-gray-800 text-center text-2xl font-bold">Sign in</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="mt-8 space-y-4">
          <div>
            <label for="email" class="text-gray-800 text-sm mb-2 block">Email</label>
            <div class="relative flex items-center">
              <input formControlName="email" type="email" required class="w-full text-gray-800 text-sm border border-gray-300 px-4 py-3 rounded-md outline-blue-600" placeholder="Enter email">
            </div>
          </div>
          <div>
            <label for="password" class="text-gray-800 text-sm mb-2 block">Password</label>
            <div class="relative flex items-center">
              <input formControlName="password" type="password" required class="w-full text-gray-800 text-sm border border-gray-300 px-4 py-3 rounded-md outline-blue-600" placeholder="Enter password">
            </div>
          </div>
          <div class="!mt-8">
            <button type="submit" [disabled]="loginForm.invalid" class="w-full py-3 px-4 text-sm tracking-wide rounded-lg text-white bg-blue-600 hover:bg-blue-700 focus:outline-none">
              Sign in
            </button>
          </div>
          <p class="text-gray-800 text-sm !mt-8 text-center">Don't have an account? <a [routerLink]="['/register']" class="text-blue-600 hover:underline ml-1 whitespace-nowrap font-semibold">Register here</a></p>
          <p class="text-gray-800 text-sm mt-4 text-center">Need to activate your account? <a [routerLink]="['/activate']" class="text-blue-600 hover:underline ml-1 whitespace-nowrap font-semibold">Activate here</a></p>
        </form>
        <div *ngIf="errorMessage" class="mt-4 text-red-600 text-center p-2 bg-red-100 rounded">
          <p>{{ errorMessage }}</p>
          <p *ngIf="errorMessage.includes('not activated')">
            If you haven't received the activation email, please check your spam folder or contact support.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>