<div class="container mx-auto px-4 py-8 mt-24">
    <div class="mb-8">
      <app-search (searchEvent)="onSearch($event)" (filterEvent)="onFilter($event)"></app-search>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <app-organization-card
        *ngFor="let organization of filteredOrganizations"
        [name]="organization.name"
        [type]="organization.type"
        [city]="organization.city"
        [address]="organization.address"
      ></app-organization-card>
    </div>
    <div class="mt-8 flex justify-center">
      <app-pagination
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        (pageChange)="onPageChange($event)"
      ></app-pagination>
    </div>
  </div>