<div class="card-container">
    <div class="custom-card">
        <div class="card-header">
            <img
                src="https://images.pexels.com/photos/8376171/pexels-photo-8376171.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
                alt="Card image"
            />
        </div>
        <div class="card-body">
            <h3>Virtual Medical Consultation</h3>
        </div>
    </div>
    <div class="custom-card">
        <div class="card-header">
            <img
                src="https://as1.ftcdn.net/v2/jpg/07/47/41/40/1000_F_747414083_6XXi2EIxhmONU2jkDTEpCcle0jnUmejN.jpg"
                alt="Card image"
            />
        </div>
        <div class="card-body">
            <h3>24/7 Online Consultations</h3>
        </div>
    </div>
    <div class="custom-card">
        <div class="card-header">
            <img
                src="https://as2.ftcdn.net/v2/jpg/07/89/52/63/1000_F_789526376_aW8NSmay3F2mUwI3S5iCJQufWJ8jtul6.jpg"
                alt="Card image"
            />
        </div>
        <div class="card-body">
            <h3>Complete Health Review</h3>
        </div>
    </div>
</div>
